.card-img-top {
  height: 200px;
  width: 150px;
}

.carousel-item {
  height: 25rem;
  background-color: #777;
  position: relative;
  background-position: center;
  background-size: cover;
}

.carousel-item-text {
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.list-group-item a {
  text-decoration: none;
  color: black;
}

.nav-item a {
  color: black;
}

.dish, .footer_social {
  color: black;
  text-decoration: none;
}

.ad_space {
  border-style: dotted;
}

.card {
  border-style: none;
}

.nav-link:hover {
  border-style: double;
  color: black;
}

a:hover {
  border-style: double;
  color: black;
}