$txtcolor: black;

@mixin card-img-top_size
{
    height: 200px;
    width: 150px;
}
.card-img-top
{
    @include card-img-top_size;
}
@mixin carousel_mixin
{
    height: 25rem;
    background-color: #777;
    position: relative;
    background-position: center;
    background-size: cover;
}
.carousel-item
{
    @include carousel_mixin;
}
@mixin cartext
{
    color: white;
    font-weight: bold;
}
.carousel-item-text
{
    @include cartext;
}
a
{
    text-decoration: none;
    color: $txtcolor;
    font-weight: bold;
}
.list-group-item a
{
    text-decoration: none;
    color: $txtcolor;
}
.nav-item a
{
    color: $txtcolor;
}
.dish, .footer_social
{
    color: $txtcolor;
    text-decoration: none;
}
.ad_space
{
    border-style: dotted;
}
.card
{
    border-style: none;
}